body {

    background: linear-gradient(152deg, #48bbdd, #6da2ec, #926dec);
    background-size: 600% 600%;

    -webkit-animation: backgrnd_animation 35s ease infinite;
    -moz-animation: backgrnd_animation 35s ease infinite;
    animation: backgrnd_animation 35s ease infinite;
}

@-webkit-keyframes backgrnd_animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backgrnd_animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backgrnd_animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.waves-effect.waves-brown .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}


/* .container  {
  position: absolute;
  margin: auto;
  width: 50%;
  height: 50%;
} */



/* .nav-wrapper {

} */
